html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 📰 Publisher
    link(rel='stylesheet' href='/styles.css')
  body
    main
        h1 Publisher site 📰  
        h2 News article
        article
            | Baseball ipsum dolor sit amet cellar rubber win hack tossed. 
            | Slugging catcher slide bench league, left fielder nubber. 
            | Base cookie triple play blue hot dog relay rake starting pitcher inning.
        div#ads
        header
                nav.menu
                div 
                        a(href='/') No ad
                div
                        strong With an ad that can register clicks:
                    div 
                            a(href='/click-element') HTML element 
                                code a
                    div 
                            a(href='/click-js') JS
                div
                        strong With an ad that can register views:
                    div 
                            a(href='/view-element-img') HTML element 
                                code img

                    div 
                            a(href='/view-js') JS
        block content
    block foot
        #footer
            div 
                a(href=demoHomeUrl) Demo homepage 
                | ・
                span Publisher site
                | ・
                a(href=advertiserUrl) Advertiser site
                | ・
                a(href=adtechUrl) Adtech site
            div
                a(href="https://goo.gle/sppi-devrel-eventlevel" target="_blank") Deployed demo
                | ・
                a(href="https://github.com/GoogleChromeLabs/trust-safety-demo/tree/main/conversion-measurement" target="_blank") Code