html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 📰 Publisher
    link(rel='stylesheet' href='/styles.css')
  body
    main
        h1 Publisher site 📰  
        header
            div.actions
                div 
                    a(href='/') Home
                div
                    strong Track clicks:
                    div 
                        a(href='/click-element') Via an `a` element (anchor)
                    div 
                        a(href='/click-js') Via JS
                div
                    strong Track views:
                    div 
                        a(href='/view-element-anchor') Via an `a` element (anchor)
                    div 
                        a(href='/view-element-img') Via an `img` element
                    div 
                        a(href='/view-js') Via JS
        block content
    block foot
        #footer
            div 
                a(href=demoHomeUrl) Demo homepage 
                | ・
                span Publisher site
                | ・
                a(href=advertiserUrl) Advertiser site
                | ・
                a(href=adtechUrl) Adtech site
            div
                a(href="https://goo.gle/sppi-devrel-eventlevel" target="_blank") Deployed demo
                | ・
                a(href="https://github.com/GoogleChromeLabs/trust-safety-demo/tree/main/conversion-measurement" target="_blank") Code