html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 📰 Publisher
    link(rel='stylesheet' href='/styles.css')
  body
    main
        h1 Publisher site 📰  
        header
            div.actions
                div 
                    a(href='/') Home
                div
                    strong Track only clicks:
                    div 
                        a(href='/click-element') Via `a` element
                    div 
                        a(href='/click-js') Via JS
                div
                    strong Track clicks and views: 
                    div 
                        a(href='/view-element') Via `a` element
                    div 
                        a(href='/view-js') Via JS
                    div 
                        a(href='/click-and-view-with-prio') Via `a` element, with clicks prioritized over views
        block content
    block foot
        #footer
            div 
                a() Publisher 
                | ・
                a() Advertiser
                | ・
                a() Adtech
            div
                a(href=demoHomeUrl) Demo homepage 
                | ・
                a(href="https://github.com/GoogleChromeLabs/trust-safety-demo/tree/main/conversion-measurement") Deployed demo code