html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 📰 Publisher
    link(rel='stylesheet' href='/styles.css')
  body
    main
        h1 Publisher site 📰  
        header
            div.actions
                div 
                    a(href='/') Home
                div
                    strong Ads that track only clicks:
                    div 
                        a(href='/click-element') Via `a` element
                    div 
                        a(href='/click-js') Via JS
                div
                    strong Ads that track clicks and views: 
                    div 
                        a(href='/view-element') Via `a` element
                    div 
                        a(href='/view-js') Via JS
                    div 
                        a(href='/click-and-view-with-prio') Via `a` element, with clicks prioritized over views
        block content
    block foot
      #footer
        p Code: 