doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 📰 Publisher
  link(rel='stylesheet' href='/styles.css')
body
  h1 📰 Publisher website
  h2 Article
  article
    | Vanquish the impossible beings, how far away Sea of
    | Tranquility great turbulent clouds? Stirred by starlight cosmic ocean two
    | ghostly white figures in coveralls and helmets are softly dancing a very
    | small stage in a vast cosmic arena. Not a sunrise but a galaxyrise and
    | billions upon billions upon billions.
  // Third-party adtech script that dynamically creates an iframe with an ad
  script(src=adScriptUrl)
