extends _layout.pug

block content
    div.main
        h2 News article
        article
            | Baseball ipsum dolor sit amet cellar rubber win hack tossed. 
            | Slugging catcher slide bench league, left fielder nubber. 
            | Base cookie triple play blue hot dog relay rake starting pitcher inning.
        p No ad on this page.
        span Try 
        a(href='/view-element-img') viewing a page with an ad
        span . 
        

