html {
  font-size: 14px;
}

body {
  font-family: sans-serif;
  --max-width: 50rem;
  --font-size-s: 0.9rem;
  --font-size-xs: 0.8rem;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;
  background: #ffffd0;
}

h1 {
  display: inline-block;
  background: #fff59a;
  padding: 0.1rem 0.2rem;
  margin: 0;
}

.select {
  user-select: all;
  cursor: default;
}

::selection {
  color: white;
  background: black;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-wrapper {
  width: 14rem;
  display: flex;
  justify-content: flex-end;
}

.button {
  color: white;
  background-color: black;
  transition: background-color 0.2s ease-out;
  text-decoration: none;
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

.button:hover {
  background-color: #3f3f3f;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin: 2rem auto;
  display: block;
}

.pixel {
  background-color: red;
}

.center {
  margin: 0 auto;
  text-align: center;
}

main {
  height: 90vh;
}

details {
  line-height: 1rem;
  color: #000000c7;
}

summary {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.summary-text {
  background: #000000c7;
  color: #ffffff;
  padding: 0.2rem 0.4rem;
  float: left;
  font-family: 'Lucida Console', Monaco, monospace;
  letter-spacing: 0.06rem;
}

details .content {
  border-left: solid 1px#000000c7;
  padding: 0.5rem 1rem 0 1rem;
}

.actor-adtech,
.actor-publisher,
.actor-advertiser,
.actor-browser {
  padding: 0 2px;
}

.actor-adtech {
  background-color: #ff00003d;
}

.actor-publisher {
  background-color: #00c5334d;
}

.actor-advertiser {
  background-color: #fff59a;
}

.actor-browser {
  background-color: #0050ff38;
}

.code {
  font-size: var(--font-size-xs);
  font-family: 'Lucida Console', Monaco, monospace;
}
