html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  --max-width: 50rem;
  --font-size-s: 0.9rem;
  --font-size-xs: 0.8rem;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;
  background: #ffffd0;
}

header {
  margin: 2rem 0;
}

.actions {
  display: flex;
  padding: 1rem 0;
  border-bottom: solid 1px grey;
}

.actions > div {
  margin-right: 2rem;
}

.actions > div > div {
  margin: 0.6rem 0;
}

h1 {
  display: inline-block;
  background: #fff59a;
  padding: 0.1rem 0.2rem;
  margin: 0;
}

.select {
  user-select: all;
  cursor: default;
}

::selection {
  color: white;
  background: black;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  --link-color: rgb(0, 38, 255);
  color: var(--link-color);
  text-decoration: none;
  border-bottom: solid 1px var(--link-color);
}

.trigger {
  font-size: var(--font-size-xs);
  font-family: 'Lucida Console', Monaco, monospace;
}
a#settings {
  --link-color: rgb(234, 0, 255);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
}

.pixel {
  background-color: red;
}

.pixel-name {
  color: red;
  font-size: 0.8rem;
  font-family: 'Lucida Console', Monaco, monospace;
  width: 10rem;
  transform: translate(1rem, -1rem);
  line-height: 0.8rem;
}

.center {
  margin: 0 auto;
  text-align: center;
}

main {
  height: 90vh;
}

details {
  line-height: 1rem;
  color: #000000c7;
}

summary {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.summary-text {
  background: #000000c7;
  color: #ffffff;
  padding: 0.2rem 0.4rem;
  float: left;
  font-family: 'Lucida Console', Monaco, monospace;
  letter-spacing: 0.06rem;
}

details .content {
  border-left: solid 1px#000000c7;
  padding: 0.5rem 1rem 0 1rem;
}

.actor-adtech,
.actor-publisher,
.actor-advertiser,
.actor-browser {
  padding: 0 2px;
}

.actor-adtech {
  background-color: #ff00003d;
}

.actor-publisher {
  background-color: #00c5334d;
}

.actor-advertiser {
  background-color: #fff59a;
}

.actor-browser {
  background-color: #0050ff38;
}

.code {
  font-size: var(--font-size-xs);
  font-family: 'Lucida Console', Monaco, monospace;
}

#footer {
  background-color: rgba(0, 0, 0, 0.164);
  padding: 0.4rem;
  z-index: 1000;
  text-align: center;
  font-size: 0.9rem;
}

input[type='checkbox'] {
  cursor: pointer;
  margin: 0.5rem 0.5rem 0.5rem 0;
}
