body {
  font-family: sans-serif;
}

h1 {
  display: inline-block;
  background: #ff00003d;
  padding: 0.1rem 0.2rem;
}

#reportList > div,
.row {
  display: flex;
  width: 80%;
  max-width: 40rem;
  justify-content: space-between;
}

#reportList > div > div,
.header > div {
  flex: 1;
}

#reportList > div > div {
  padding: 0.4rem;
}

.header {
  background: whitesmoke;
  padding: 0.4rem;
  font-weight: bold;
}

img {
  margin: 2rem auto;
  display: block;
}
