html {
  font-size: 14px;
}

body {
  font-family: sans-serif;
  --max-width: 50rem;
  --font-size-s: 0.9rem;
  --font-size-xs: 0.8rem;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  margin: 0;
}

.padded {
  padding: 0 0.2rem;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 1.4rem 0 0.4rem 0;
  font-size: 1.2rem;
}

h3 {
  padding: 0;
  margin: 0.6rem 0 0.1rem 0;
  font-size: 1rem;
}

ol {
  margin: 0.2rem 0;
}

li {
  margin: 0.4rem 0;
}

a,
a:visited {
  color: #003aff;
}

video {
  margin: 1rem 0 0 0;
  width: 100%;
  max-width: 24rem;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

.select {
  user-select: all;
  cursor: default;
}

::selection {
  color: white;
  background: black;
}

.code {
  font-size: var(--font-size-xs);
  font-family: 'Lucida Console', Monaco, monospace;
}

code {
  font-family: 'Lucida Console', Monaco, monospace;
}

.do {
  font-size: var(--font-size-s);
  background: whitesmoke;
  padding: 0.2rem;
  margin: 0.4rem 0 1.2rem 0;
}

.success {
  color: #00c535;
}

.error,
.important {
  color: red;
}

.xs {
  transform: scale(0.8);
}

.version {
  color: #8b8b8b;
}
