body {
  font-family: sans-serif;
  --max-width: 50rem;
  --font-size-s: 0.9rem;
  --font-size-xs: 0.8rem;
  max-width: var(--max-width);
}

h2 {
  padding: 0.3rem 0 0 0;
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

article {
  margin: 2rem 0;
  line-height: 1.8;
}

.code,
.status {
  font-size: var(--font-size-xs);
  font-family: "Lucida Console", Monaco, monospace;
}

.hint,
.do {
  font-size: var(--font-size-s);
}

.do {
  background: whitesmoke;
  padding: 0.2rem;
  margin: 0.4rem 0 1.2rem 0;
}

.select {
  user-select: all;
  cursor: default;
}

::selection {
  color: white;
  background: black;
}

.actor-adtech,
.actor-publisher,
.actor-advertiser,
.actor-browser {
  padding: 2px 4px;
}

.actor-adtech {
  background-color: #ff00003d;
}

.actor-publisher {
  background-color: #00c5334d;
}

.actor-advertiser {
  background-color: #fff59a;
}

.actor-browser {
  background-color: #0050ff38;
}

.status {
  border-radius: 30px;
  padding: 1px 12px;
  color: white;
  display: inline-block;
  min-width: 3rem;
  text-align: center;
}

.ok {
  background-color: #00c535;
}

.nok {
  background-color: red;
}

.xs {
  transform: scale(0.8);
}

.display {
  display: inline-block;
}
.hide {
  display: none;
}
