doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Ad
body(style={"font-family": "sans-serif", "font-size": "12px", "background": "#f6d7ff", "cursor": "pointer"})

div Ad (click source with an `a` element)

a(width='130' href=href src='/blue-shoes.png' alt='blue shoes' attributionsrc=attributionsrc target="_blank") Click me

