doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Ad
body(style={"font-family": "sans-serif", "font-size": "12px", "background": "#f6d7ff"})

div Ad (JS call)
div#ad(href=href target='_blank')
  img(width='180' src='/blue-shoes.png' alt='blue shoes')
  
script.
  // \!{}\ is the syntax for this template engine (pug) to access serer-defined variables in a script
  const attributionsrc = !{JSON.stringify(attributionsrc)};
  // Instruct the browser to initiate source registration
  window.attributionReporting.registerSource(attributionsrc);


