doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 🚀 Adtech server
  link(rel='stylesheet' href='/styles.css')
h1 🚀 Adtech server
h2
  | Reports (
  span#reportCount 0
  | )
.row.header
  div Impression data
  div Conversion data
  div Attribution
#reportList
script(src='/script-reports.js')