doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title ЁЯЪА Adtech server
  link(rel='stylesheet' href='/styles.css')
body
  h1 Adtech server ЁЯЪА 
  h2
    | Reports (
    span#reportCount 0
    | )
  p *тЪая╕П This is not the conversion time. This is the time when adtech has received this report, displayed here to make it easier to know what reports you're looking at. The exact conversion time is visible in chrome://conversion-internals, but is not included in the report in order to preserve user privacy.
  .row.header
    div Click ID ("Impression data")
    div Conversion data
    div Attribution
    div Received by adtech on*
  #reportList
  script(src='/reports-script.js')