<!DOCTYPE html>
<html lang="en">
  <head>
    <title>COOP Sample</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="https://unpkg.com/wasm-feature-detect/dist/umd/index.js" crossorigin></script>
    <script src="https://unpkg.com/@material/mwc-button@0.15.0?module" type="module" async defer></script>
    <script src="https://unpkg.com/@material/mwc-snackbar@0.15.0?module" type="module" async defer></script>
  </head>
  <body>
    <h1>
    COOP demo
    </h1>
    <p>
      Works on Chrome 83+ or Firefox 76+.
    </p>
    <p>
      Reports will be sent to <a href="https://reporting-endpoint.glitch.me" target="_blank">https://reporting-endpoint.glitch.me</a>.<br/>
      Open the page and wait for the reports to show up. Reload not needed.<br/>
      To receive COOP reports, you need to turn on two flags using CHrome 86+.<br/>
      <ul>
        <li>chrome://flags#cross-origin-opener-policy-reporting</li>
        <li>chrome://flags#cross-origin-opener-policy-access-reporting</li>
      </ul>
    </p>
    <div>
      <form>
        <h2>
          Set HTTP headers for this page.
        </h2>
        <div id="main_container"></div>
        <h2>
          Set various headers for the cross-origin popup window.
        </h2>
        <div id="popup_container"></div>
      </form>
      <mwc-snackbar id="toast"></mwc-snackbar>
    </div>
    <script src="/client.js" type="module" defer></script>
  </body>
</html>
