doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Ad
body(style={"font-family": "sans-serif", "background": "#f6d7ff"})

div Ad (
  code a
  |  element):
br
a(href=href alt='blue shoes' attributionsrc=attributionsrc target="_blank") Click me

