doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Ad
body(style={"font-family": "sans-serif", "background": "#f6d7ff"})

div Ad (
  code img
  |  element):

img(width='180' href=href src='/shoes' alt='blue shoes' attributionsrc)
