doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 🚀 Adtech server
  link(rel='stylesheet' href='/styles.css')
body
  h1 Adtech server 🚀 
  br
  p
  | Nothing happens in this server frontend, but this is where reports could be displayed. 
  p Open 
    code chrome://attribution-internals
    |  to see the reports that were generated in your browser and that would be sent to this endpoint's backend.
