html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  --max-width: 50rem;
  --font-size-s: 0.9rem;
  --font-size-xs: 0.8rem;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;
  background-color: #d0ffe1;
}

h1 {
  display: inline-block;
  background: #00c5334d;
  padding: 0.1rem 0.2rem;
  margin: 0;
}

article {
  margin: 2rem 0;
  line-height: 1.8;
}

header {
  margin: 2rem 0;
}

.actions {
  display: flex;
  padding: 1rem 0;
  border-bottom: solid 1px grey;
}

.actions > div {
  margin-right: 2rem;
}

.actions > div > div {
  margin: 0.6rem 0;
}

.select {
  user-select: all;
  cursor: default;
}

::selection {
  color: white;
  background: black;
}

main {
  height: 90vh;
}

nav a:hover,
nav a.current {
  color: var(--link-color);
  background: var(--link-color-x-light);
  border-bottom: solid 1px var(--link-color);
}

#footer {
  background-color: rgba(0, 0, 0, 0.164);
  padding: 0.4rem;
  z-index: 1000;
  text-align: center;
  font-size: 0.9rem;
}
