<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>1️⃣ site-one (referrer demo)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A referrer demo made with Glitch" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>1️⃣ site-one (referrer demo)</h1>
      Not much to see here.
      <a href="/stuff/detail?tag=red&p=p0"> ➤ Go where stuff happens</a>.
    </header>
  </body>
</html>
