extends _layout.pug

block content
    h3 Product added to cart 
    img.pixel(height='12' width='12' attributionsrc src=adtechRequestUrl)
    div.pixel-name Pixel that tracks when a product is added to the cart
    script(src="./toast.js")