extends _layout.pug

block content
    h3 You're now signed up to our special offers newsletter
    img.pixel(height='12' width='12' attributionsrc src=adtechRequestUrl)
    div.pixel-name Pixel that tracks newsletter signups
    script(src="./toast.js")