extends _layout.pug

block content
    h3 Blue Shoes™️
    img.pixel(height='12' width='12' attributionsrc=adtechRequestUrl)
    div.pixel-name Pixel that tracks product page visits
    img(class="center" width='200' height='187' src='/blue-shoes.jpg' alt='blueshoes')