extends _layout.pug

block content
    h3 Blue Shoes™️
    img.pixel(src=adtechRequestUrl height='12' width='12')
    div.pixel-name Pixel that tracks product page visits
    img(class="center" width='200' height='187' src='/blue-shoes.jpg' alt='blueshoes')