extends _layout.pug

block content
    h3 Thanks for your purchase!
    img.pixel(src=adtechRequestUrl height='12' width='12')
    div.pixel-name Pixel that tracks purchases (completed checkouts)
    div  Order ID: #{orderId}
    button(onClick="generateNewOrder()") 🔄 New order
    script.
        async function generateNewOrder() {
            await fetch('/new-order', {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                'Content-Type': 'application/json'
                },
            })
            location.reload()
        }