doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 👟 Advertiser
  link(rel='stylesheet' href='/styles.css')
div.flex
  h1 Advertiser website 👟 
  div.button-wrapper
    a.button(href='/signup') Sign up
h2 Checked out ✅
img.pixel(src=adtechRequestUrl height='12' width='12')
