extends _layout.pug

block content
    h3 Home
    div Not much to see here :) 
    span Try 
    a(href='/shoes07') visiting a product page
    span  or 
    a(href='/checkout') completing a checkout 💰
    span  to trigger a conversion. 