extends _layout.pug

block content
    h3 Home
    p Nothing happens on this page.
    span Try 
    a(href='/blue-shoes') visiting a product page
    span  or 
    a(href='/checkout') completing a checkout 💰
    span  to convert.