doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 👟 Advertiser
  link(rel='stylesheet' href='/styles.css')
  meta(http-equiv='origin-trial' content='AjR+Mi0HCVdsAKbjOpjafmARxmFL+5OtVnU/pPVZTV7M1g1ZlzfCdDQI8rK8Fp0xXrPHPbKs82hBM/Z9seVZrgYAAACCeyJvcmlnaW4iOiJodHRwczovL2FkdmVydGlzZXItZG90LXBlYWNvY2stZGVtby0yODM4MjIubncuci5hcHBzcG90LmNvbTo0NDMiLCJmZWF0dXJlIjoiQ29udmVyc2lvbk1lYXN1cmVtZW50IiwiZXhwaXJ5IjoxNjA4ODE4MzI2fQ==')
body
  script(src="/demo-steps-index.js")
  main
    div.flex
      h1 Advertiser website 👟 
      div.button-wrapper
        a.button(href='/signup') Sign up
    h2 Shoes 07
    img(width='200' height='187' src='/shoes07.jpg' alt='shoes 07')
    .center
      a.button(href='/checkout') Checkout as guest
  details
    summary
      div.summary-text ℹ️ DEMO
    div.content
      p 
      strong On this page: 
      | Now that you've navigated to the 
      span.actor-advertiser advertiser
      |'s site, the click data is saved in 
      span.actor-browser browser
      |  storage. No conversion has happened yet.
      p 
      strong Do:
      ul
        li See the click data stored in the browser, in 
          span.select.code chrome://conversion-internals
          |  (refresh if needed).
        li Click the 
          strong Checkout
          |  button.