doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 👟 Advertiser
  link(rel='stylesheet' href='/styles.css')
h1 👟 Advertiser website
h2 Shoes 07
img(width='200' height='187' src='/shoe07.jpg' alt='shoe 07')
.center
  a.button(href='/shoe07/added-to-cart') Add to cart