doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 👟 Advertiser
  link(rel='stylesheet' href='/styles.css')
h1 👟 Advertiser website
h2 Signed up ✅
img.pixel(src=adtechRequestUrl height='12' width='12')
