extends layout.pug

block content
    h3 You're signed up to our special offers newsletter!
    img.pixel(src=adtechRequestUrl height='12' width='12')
    div.pixel-name pixel that tracks newsletter signups