doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 👟 Advertiser
  link(rel='stylesheet' href='/styles.css')
  meta(http-equiv='origin-trial' content='AjR+Mi0HCVdsAKbjOpjafmARxmFL+5OtVnU/pPVZTV7M1g1ZlzfCdDQI8rK8Fp0xXrPHPbKs82hBM/Z9seVZrgYAAACCeyJvcmlnaW4iOiJodHRwczovL2FkdmVydGlzZXItZG90LXBlYWNvY2stZGVtby0yODM4MjIubncuci5hcHBzcG90LmNvbTo0NDMiLCJmZWF0dXJlIjoiQ29udmVyc2lvbk1lYXN1cmVtZW50IiwiZXhwaXJ5IjoxNjA4ODE4MzI2fQ==')
body
  main
    h1 Advertiser website 👟 
    h2 Signed up ✅
    img.pixel(src=adtechRequestUrl height='12' width='12')
  details
    summary
      div.summary-text ℹ️ DEMO
    div.content
      p 
      strong On this page: 
      | As defined by the 
      span.actor-advertiser advertiser
      | , this page contains a conversion pixel ( 🟥 ).
      | Now that you've signed up, you're on this page, and the pixel triggers a request to the 
      span.actor-adtech adtech server
      |. Upon receiving this request, the 
      span.actor-adtech adtech server
      |  determines whether a conversion should be registered and what the conversion value should be.
      | It sends a 302 request to the 
      span.actor-browser browser
      |. Upon receiving this request, the  
      span.actor-browser browser
      |  maps the click and conversion data, and schedules a conversion report.
      p 
      strong Do:
      ul
        li See the conversion report stored by the browser, in 
          span.select.code chrome://conversion-internals
          |  (refresh if needed).
        li (Optional: in 
          span.select.code chrome://conversion-internals
          |, click 
          strong Send All Reports
          |. This sends all the conversion reports immediately to the reporting endpoint, instead
          | of waiting for the browser to send the reports at the scheduled time. This is useful for debugging.
          | You can then see the reports immediately on the 
          a(href=adtechServerUi) adtech server UI
          |.)
        li Open the 
          a(href=adtechServerUi) adtech server UI
          |  to see the reports once the browser has sent them.