extends _layout.pug

block content
    h3 Blue Shoes™️
    img.pixel(height='12' width='12' attributionsrc=adtechRequestUrl)
    div.pixel-name Pixel that tracks product page visits
    div A report for this conversion will not be sent, due to filters: the adtech server is filtering out conversions for the product category 'category_2' (T-Shirts)
    img(class="center" width='200' height='187' src='/t-shirt.jpg' alt='tshirt')