extends _layout.pug

block content
    h3 T-Shirt
    div.product
        div
            div
                img(width='200' height='187' src='/t-shirt.jpg' alt='t-shirt')
            div.product-description 
                div Neckline: Crew neck
                div Pattern: Plain
                div Length: Normal
        div
            img.pixel(height='12' width='12' attributionsrc=adtechRequestUrl)
            div.pixel-name Pixel that tracks product page visits. A report for this conversion will be generated but will NOT be sent, due to filters: the adtech server is filtering out conversions for the product category 'category_2' (T-Shirts)
    script(src="./toast.js")