doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title âš¡ï¸ Demo: Event-Level Conversion Measurement API
  link(rel='stylesheet' href='/styles.css')
body
    h1 âš¡ï¸ Demo: Event-Level Conversion Measurement API

    h2 Before you run this demo
    div.important
        | Read this â¤µï¸! The demo only works once you've gone through these setup steps â¤µï¸â¤µï¸â¤µï¸
    ol
        li Make sure you're in Chrome, version 
            strong 86 
            | or later. You can check what version of Chrome you're using by typing 
            span.select.code chrome://version
            |  in the URL bar.
        li Deactivate ad-blocking extensions on the demo pages. Some ad blocking browser extensions may block some of this demo's functionality. 
        li Don't use an Incognito or Guest profile.
        li Turn on the 
            | flag 
            span.select.code #enable-experimental-web-platform-features
            |. Go to flags by typing or pasting 
            span.select.code chrome://flags 
            | in Chrome's URL bar. 
    h2 Run the demo
    | Open these in new tabs:
    ul
        li 
            a(href=publisherUrl) Publisher website ðŸ“° 
        li
            span.select.code chrome://conversion-internals
            |  (type or paste in Chrome's URL bar)
        li
            a(href=adtechUrl) Adtech server ðŸš€ 
    | And follow the steps indicated on each page. 
    strong Demo screencast:
    div.full
        video(controls)
            source(src='/demo-event-level-conversion-measurement-v1.mp4' type='video/mp4')
            | Your browser does not support the video tag.

    h2 See the code
    a(href="https://github.com/GoogleChromeLabs/trust-safety-demo/tree/main/conversion-measurement" noreferrer noopener) Code for this demo
    h2 Learn more
    ul
        li
            a(href="https://web.dev/conversion-measurement" noreferrer noopener) Article
        li
            a(href="https://github.com/WICG/conversion-measurement-api" noreferrer noopener) API explainer 
    h2 Ask questions / Share feedback
    | ðŸ‘‹ Ping 
    a(href="https://twitter.com/maudnals" noreferrer noopener) @maudnals
    |  for feedback / questions about this demo.
    script.
        const okEls = document.querySelectorAll(".ok")
        const nokEls = document.querySelectorAll(".nok")
        const canDemoRun = document.featurePolicy.features().includes('conversion-measurement')
        if (canDemoRun) {
            okEls.forEach(el => {
                el.classList.add("show")
            });
            nokEls.forEach(el => {
                el.classList.add("hide")
            });
        } else {
            okEls.forEach(el => {
                el.classList.add("hide")
            });
            nokEls.forEach(el => {
                el.classList.add("show")
            });
        }