doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title ⚡️ Demo: Event-Level Conversion Measurement API
  link(rel='stylesheet' href='/styles.css')
body
    h1 ⚡️ Demo: Event-Level Conversion Measurement API
    h2.ok.success ✅ You're all set to run the demo.
    h2.nok.error ❌ You need to do this before you can run the demo:
    ul.nok
        li Make sure you're in Chrome, version 86 or later (for example 
            a(href="https://www.google.com/chrome/canary/" noreferrer noopener) Chrome Canary
            | ). You can check what version of Chrome you're using by typing 
            span.select.code chrome://version
            |  in the URL bar.
        li Turn on the <strong>two</strong> flags 
            span.select.code #enable-experimental-web-platform-features
            |  and 
            span.select.code #conversion-measurement-api
            |.
            | Go to flags by typing 
            span.select.code chrome://flags
            |  in the URL bar.
        li Disable third-party cookie
            strong  blocking
            |. In the long term, dedicated browser settings will be available to allow/block the API. Until then, third-party cookie blocking is used as the signal that users don't want to share data about their conversions—and hence that this API should be disabled.
    ul.ok
        li 🆗 Chrome 86 or later
        li 🆗
            span.select.code #enable-experimental-web-platform-features
            |  and 
            span.select.code #conversion-measurement-api
        | are on
        li 🆗 No third-party cookie blocking
    h2 Run the demo
    | Open these in new tabs:
    ul
        li 
            a(href=publisherUrl) 📰 Publisher website
        li
            a(href=adtechUrl) 🚀 Adtech server
        li
            span.select.code chrome://conversion-internals/
    | And follow the steps indicated on each page.
    h2 Code and feedback
    ul
        li 
            a(href="https://github.com/GoogleChromeLabs/trust-safety-demo/tree/main/conversion-measurement" noreferrer noopener) Code
            |
        li
            a(href="https://github.com/WICG/conversion-measurement-api" noreferrer noopener) API explainer
        li Ping 
            a(href="https://twitter.com/maudnals" noreferrer noopener) @maudnals
            |  for feedback / questions about the demo 👋
    script.
        const okEls = document.querySelectorAll(".ok")
        const nokEls = document.querySelectorAll(".nok")
        const canDemoRun = document.featurePolicy.features().includes('conversion-measurement')
        if (canDemoRun) {
            okEls.forEach(el => {
                el.classList.add("show")
            });
            nokEls.forEach(el => {
                el.classList.add("hide")
            });
        } else {
            okEls.forEach(el => {
                el.classList.add("hide")
            });
            nokEls.forEach(el => {
                el.classList.add("show")
            });
        }