doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 🏠 Demo: Attribution Reporting API (event-level reports)
  link(rel='stylesheet' href='/styles.css')
body
    h1 Demo: Attribution Reporting API 
    | With event-level reports

    h2 Run the demo
    ol
        li.important Set up your browser (TODO LINK TO ARTICLE)
        li Open (TODO LINK) and (TODO LINK) in your browser
        li Follow the screencast (TODO LINK)

    h3
        div 
            a(href=publisherUrl target="_blank") Publisher
        div 
            a(href=advertiserUrl target="_blank") Advertiser
        div 
            a(href=adtechUrl target="_blank") Adtech - Reports UI

    h2 See the code
    a(href="https://github.com/GoogleChromeLabs/trust-safety-demo/tree/main/conversion-measurement" noreferrer noopener) Code for this demo

    h2 Reuse and customize the code
    div TODO LINK

    h2 Ask questions / Share feedback 👋
    | For questions and comments about this demo, start a new conversation in (TODO LINK TO MAILING LIST) or ping 
    a(href="https://twitter.com/maudnals" noreferrer noopener) @maudnals

    h2 Learn more
    ul
        li
            a(href="" noreferrer noopener) TODO LINK TO API guide
        li
            a(href="https://github.com/WICG/conversion-measurement-api" noreferrer noopener) API explainer 