doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Ad
body(style={"font-family": "sans-serif", "background": "#f6d7ff"})

div (JS method will be called on click)
  p
  div(id="ad" style="cursor:pointer; color: blue; text-decoration:underline;") Click me
  
script.
  const ad = document.getElementById("ad");
  ad.addEventListener("click", () => {
    // Instruct the browser to initiate source registration
    window.open(
    "/register-source-js",
    "_blank",
    // attributionsrc is required for source registration
    "attributionsrc");
  });
  
